
<p>
  <strong>Name:</strong>
  <%= @collectible.name %>
</p>

<p>
  <strong>Mintage:</strong>
  <%= @collectible.mintage %>
</p>

<p>
  <strong>Current bid:</strong>
  <%= @collectible.current_bid %>
</p>

<p>
  <strong></strong>
  <%= image_tag(@collectible.img, size: "200x200", alt: "Collectible Image") %>
</p>
<%= link_to 'Place a bid', new_collectible_auction_path(@collectible)%> | 
<%= link_to 'Edit', edit_collectible_path(@collectible) %> |
<%= link_to 'Back', collectibles_path %>