<h1>Your Auctions</h1>

<%= link_to 'Collectibles', collectibles_path %> | 
<%= link_to 'Auctions', auctions_path %>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Collectible Id</th>
      <th>Previous bidding</th>
      <th>Current bidding</th>
      <th>Image</th>

      <th colspan="3"></th>
    </tr>
  </thead>
    
  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.collectible_id %></td>
        <td><%= auction.previous_bidding %></td>
        <td><%= auction.current_bidding %></td>
        <td><%= image_tag(Collectible.find(auction.collectible_id).img, size: "200x200", alt: "Collectible Image")%></td>
        <td><%= link_to 'Show', auction %></td>
        <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>