<h1>All the Coins</h1>
<%= link_to 'New Coin', new_coin_path, { :class => "button waves-effect waves-light btn" } %>
<table class="striped bordered">
  <tr>
    <th>Name</th>
    <th>Mintage</th>
    <th>Price</th>
    <th>Detail</th>
  </tr>
  

  <% @coins.each do |coin| %>
      <tr>
        <td><%= link_to coin.name, coin_path(coin) %></td>
        <td><%= coin.mintage %></td>
        <td><%= coin.price %></td>
        <td><%= coin.detail %></td>
      </tr>
  <% end %>
</table>